.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: var(--theme-header);
  /* color: var(--theme-font-color); */
  margin-bottom: 50px;
}

.header a {
  color: var(--theme-font-color);
}

.text_container {
  position: relative;
  z-index: 5;
}

.text_container p {
  color: var(--theme-font-color);
}

.image_container {
  position: absolute;
  top: -43%;
  left: 45%;
  z-index: 10;
}

.image_container img {
  width: 80px;
  height: auto;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.logo_img {
  background: url(../../assets/logo.png) no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}
