@import "./mediaQueries.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  @include respond-to-display-screen-normal_big_bigger() {
    padding: 5% 15%;
  }

  @include respond-to-display-mobile-big() {
    padding: 2%;
  }

  @include respond-to-display-mobile-mormal() {
    padding: 2% 0;
  }

  @include respond-to-display-mobile-mini() {
    padding: 2% 0 0 0;
  }
}
