@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html[data-theme="light"] {
  --theme-header: linear-gradient(
    to right,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  --theme-background: #ffffff;
  --theme-font-color: #212529;
  --theme-font-color-inverce: #ffffff;
  --theme-font-color-side: #6c757d;
  --theme-hover: #007bff;
  --theme-hover-2: #0056b3;
  --theme-hover-transient: rgba(158, 76, 0, 0.6);
  --theme-scroll: rgb(100, 100, 100, 0.5);
  --theme-footer: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  --theme-footer-text: #fff;
}

html[data-theme="dark"] {
  --theme-header: linear-gradient(to right, #434343 0%, black 100%);
  --theme-background: #121212;
  --theme-font-color: #e0e0e0;
  --theme-font-color-inverce: #121212;
  --theme-font-color-side: #b3b3b3;
  --theme-hover: #bb86fc;
  --theme-hover-2: #8652ff;
  --theme-hover-transient: rgba(158, 76, 0, 0.6);
  --theme-scroll: rgb(100, 100, 100, 0.5);
  --theme-footer: linear-gradient(
    135deg,
    #0f2027 0%,
    #203a43 50%,
    #2c5364 100%
  );
  --theme-footer-text: #fff;
}

body {
  transition: background-color 0.3s ease;
  background-color: var(--theme-background);
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
  color: var(--theme-font-color);
}

h3,
h4 {
  color: var(--theme-font-color-side);
}

h2,
h4 {
  text-align: center;
}

button {
  border: none;
  border-radius: 10px;
  background-color: var(--theme-hover);
  color: var(--theme-font-color-inverce);
  padding: 13px;
  font-size: 18px;
}

.grid_container {
  display: grid;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.logo,
.navbar li,
a,
.card p:nth-child(3) {
  transition: color 0.3s ease;
}

.logo:hover,
.navbar li:hover,
a:hover,
.card p:nth-child(3):hover {
  color: var(--theme-hover);
}

button,
.skills ul li {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--theme-hover-2);
}

.linkedIn:hover,
.github:hover,
.instagram:hover,
.telegram:hover,
.gmail:hover,
.logo_img:hover {
  animation: shake 1s ease-in-out 1;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(-20deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(20deg);
  }
}

.fade-in {
  animation: fadeIn 1s forwards; /* Анимация продолжительностью 2 секунды */
}

.fade-out {
  animation: fadeOut 1s forwards; /* Анимация продолжительностью 2 секунды */
}

/* Анимация появления */
@keyframes fadeOut {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(-1000px);
  }
}

/* Анимация исчезновения */
@keyframes fadeIn {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
